.s1{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    margin : 10px;
}

.s2{
    background-color: pink;
    width: 50px;
    height: 200px;
    margin : 10px;
}